$clr-strong-cyan: hsl(172, 67%, 45%);
$clr-very-dark-cyan: hsl(183, 100%, 15%);
$clr-dark-grayish-cyan: hsl(186, 14%, 43%);
$clr-grayish-cyan: hsl(184, 14%, 56%);
$clr-light-grayish-cyan: hsl(185, 41%, 84%);
$clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
$clr-brownish-red: hsl(13, 70%, 61%, 100%);
$clr-white: hsl(0, 0%, 100%);

$ff: "Space Mono", monospace;

$fs-body: 1.5rem; // 24px
